:root {
  --font-family: "TTFirs", sans-serif;
  --content-width: 1440px;
  --container-offset: 152px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --white: #ffffff;
  --acid: #C7FF00;
  --dark: #000000;
  --grey: #DAE6F0;
  --pink: #B397ED;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "TTFirs";
  src: url("../fonts/../fonts/TTFirsNeue-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  background-color: var(--dark);
  color: var(--white);
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.header {
  padding-top: 97px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.header__point a {
  color: var(--white);
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}
.header__point a:hover {
  color: var(--acid);
}
.header__logo {
  position: fixed;
  top: 97px;
  left: 160px;
  z-index: 1000;
}

.hero {
  padding-top: 140px;
  position: relative;
}
.hero__video {
  position: absolute;
  top: 50%;
  left: 12%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.hero__video:hover {
  opacity: 1;
}
.hero__title {
  font-size: 340px;
  line-height: 439px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.hero__letters-left {
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.hero__letters-right {
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.hero__wrapper {
  margin-top: -111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 57px;
}
.hero__descr {
  margin-top: 20px;
  font-size: 20px;
  line-height: 25px;
  max-width: 240px;
}
.hero__link {
  margin-top: -64px;
  padding-top: 140px;
}
.hero__present {
  font-size: 40px;
  line-height: 52px;
  color: var(--dark);
  background-color: var(--acid);
  margin-top: 140px;
  padding: 4px 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.hero__present:hover {
  background-color: var(--dark);
  color: var(--acid);
}

.description {
  padding-top: 135px;
}
.description__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  margin-right: -96px;
  height: 700px;
}
.description__title {
  position: sticky;
  top: 135px;
  max-width: 959px;
  margin: 0;
  right: 96px;
  font-size: 80px;
  line-height: 160px;
  color: var(--acid);
}

.circles {
  position: relative;
  height: 3000px;
  z-index: 5;
}
.circles__circle {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 0;
  width: 0;
  border-radius: 50%;
  background-color: var(--grey);
}
.circles__wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  width: 100%;
}
.circles__text {
  font-size: 80px;
  line-height: 90px;
  color: var(--dark);
  position: relative;
  z-index: 2;
  text-align: center;
}
.circles__cube {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--grey);
  z-index: 3;
}

.works {
  position: relative;
  margin-top: -1500px;
  background-color: var(--dark);
  z-index: 10;
}
.works__titles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
}
.works__title {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 152px;
  font-size: 120px;
  line-height: 155px;
  text-transform: uppercase;
}
.works__title-grey {
  background-color: var(--grey);
  color: var(--dark);
  overflow: hidden;
  z-index: 5;
}
.works__title-dark {
  color: var(--grey);
  background-color: var(--dark);
  overflow: hidden;
  z-index: 2;
}
.works__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.works__wrapper:nth-child(2) {
  padding-top: 233px;
}
.works__wrapper:hover {
  margin-bottom: 88px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.works__wrapper:hover .works__img {
  visibility: visible;
  width: 30%;
}
.works__wrapper:hover .works__deskr-title {
  font-size: 80px;
  line-height: 90px;
  color: var(--acid);
}
.works__wrapper:hover .works__deskr-subtitle {
  line-height: 10px;
}
.works__img {
  width: 0;
  height: 218px;
  visibility: hidden;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.works__deskr-title {
  font-size: 40px;
  line-height: 50px;
  color: var(--grey);
  -webkit-transition: all 1.2s;
  -o-transition: all 1.2s;
  transition: all 1.2s;
}
.works__deskr-subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--white);
  -webkit-transition: all 1.2s;
  -o-transition: all 1.2s;
  transition: all 1.2s;
}

.cases {
  margin-top: 352px;
  padding-bottom: 137px;
}
.cases__wrapper:nth-child(2) {
  margin-top: 500px;
}
.cases__wrapper:nth-child(3) {
  margin-top: 500px;
}
.cases__wrapper:nth-child(4) {
  margin-top: 500px;
}
.cases__cube-vertical-right {
  width: 450px;
  height: 550px;
  background-color: var(--acid);
  margin-left: 350px;
  position: relative;
}
.cases__cube-vertical-right:hover {
  z-index: 10;
}
.cases__cube-horizontal-left {
  width: 550px;
  height: 450px;
  background-color: var(--acid);
  margin-left: 70px;
  position: relative;
}
.cases__cube-horizontal-left:hover {
  z-index: 10;
}
.cases__cube-vertical-left {
  width: 450px;
  height: 550px;
  background-color: var(--acid);
  margin-left: 182px;
  position: relative;
}
.cases__cube-vertical-left:hover {
  z-index: 10;
}
.cases__cube-horizontal-right {
  width: 550px;
  height: 450px;
  background-color: var(--acid);
  margin-left: 383px;
  position: relative;
}
.cases__cube-horizontal-right:hover {
  z-index: 10;
}
.cases__img-vertical-right img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  mix-blend-mode: luminosity;
}
.cases__img-vertical-right img:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  mix-blend-mode: normal;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.cases__img-vertical-right img:hover.cases__cube-vertical-right {
  z-index: 10;
}
.cases__img-horizontal-left img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  mix-blend-mode: luminosity;
}
.cases__img-horizontal-left img:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  mix-blend-mode: normal;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.cases__img-vertical-left img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  mix-blend-mode: luminosity;
}
.cases__img-vertical-left img:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  mix-blend-mode: normal;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.cases__img-horizontal-right img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  mix-blend-mode: luminosity;
}
.cases__img-horizontal-right img:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  mix-blend-mode: normal;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.cases__descr {
  font-size: 20px;
  line-height: 25px;
  color: var(--white);
  max-width: 270px;
}
.cases__descr-vertical-right {
  margin-top: -50px;
  margin-left: auto;
  margin-right: 50px;
}
.cases__descr-vertical-left {
  margin-left: auto;
  margin-right: 15px;
}
.cases__latter-vertical-right {
  display: inline-block;
  font-size: 380px;
  line-height: 490px;
  text-transform: uppercase;
  color: var(--grey);
}
.cases__latter-vertical-right-first {
  position: relative;
  z-index: -1;
}
.cases__latter-vertical-right-second {
  position: relative;
  z-index: 5;
}
.cases__latter-horizontal-left {
  display: inline-block;
  font-size: 380px;
  line-height: 490px;
  text-transform: uppercase;
  color: var(--grey);
}
.cases__latter-horizontal-left-first {
  position: relative;
  z-index: 5;
}
.cases__latter-horizontal-left-second {
  position: relative;
  z-index: -1;
}
.cases__latter-vertical-left {
  display: inline-block;
  font-size: 380px;
  line-height: 490px;
  text-transform: uppercase;
  color: var(--grey);
}
.cases__latter-vertical-left-first {
  position: relative;
  z-index: 5;
}
.cases__latter-vertical-left-second {
  position: relative;
  z-index: -1;
}
.cases__latter-horizontal-right {
  display: inline-block;
  font-size: 380px;
  line-height: 490px;
  text-transform: uppercase;
  color: var(--grey);
}
.cases__latter-horizontal-right-first {
  position: relative;
  z-index: -1;
}
.cases__latter-horizontal-right-second {
  position: relative;
  z-index: 5;
}
.cases__projects a {
  display: block;
  width: 280px;
  font-size: 40px;
  line-height: 52px;
  color: var(--dark);
  background-color: var(--acid);
  padding: 2px 13px 3px 17px;
  margin-top: 135px;
  margin-left: auto;
  margin-right: 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.cases__projects a:hover {
  background-color: var(--dark);
  color: var(--acid);
}

.treading-line {
  background-color: var(--grey);
  padding-top: 120px;
  padding-bottom: 140px;
}
.treading-line__line {
  font-size: 90px;
  line-height: 116px;
  text-transform: uppercase;
  color: var(--dark);
  white-space: nowrap;
  z-index: 1;
}
.treading-line__more a {
  display: block;
  width: 509px;
  background-color: var(--dark);
  color: var(--grey);
  font-size: 40px;
  line-height: 40px;
  padding: 10px 17px 10px;
  margin-top: 87px;
  margin-left: auto;
  margin-right: auto;
}
.treading-line__more a:hover {
  color: var(--acid);
}
.treading-line__wrapper {
  position: relative;
  overflow: hidden;
}
.treading-line__block-top {
  position: absolute;
  width: 100%;
  height: 220px;
  top: 0;
  left: 0;
  background-color: var(--grey);
  z-index: 10;
}
.treading-line__block-bottom {
  position: absolute;
  width: 100%;
  height: 220px;
  bottom: 0;
  left: 0;
  background-color: var(--grey);
  z-index: 10;
}
.treading-line__wrapper{
  width: 100%;
  overflow: hidden;
  position: relative;
}
.treading-line__wrapper:after {
  position: absolute;
  content: ' ';
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
}
.marquee {
  overflow: hidden;
}

.clients {
  padding: 112px 0px 35px 0px;
  position: relative;
  z-index: 5;
  background-color: var(--dark);
}
.clients__title {
  font-size: 120px;
  line-height: 150px;
  text-transform: uppercase;
  color: var(--grey);
}
.clients__subtitle {
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: var(--white);
  margin-bottom: 80px;
}
.clients__wrapper {
  position: relative;
}
.clients__item1 {
  position: absolute;
  top: 16px;
  left: 0;
  z-index: 20;
  width: 231px;
  height: 231px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients__item2 {
  position: absolute;
  top: 269px;
  left: 96px;
  z-index: 20;
  width: 176px;
  height: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients__item3 {
  position: absolute;
  top: 0px;
  left: 390px;
  z-index: 20;
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients__item4 {
  position: absolute;
  top: 184px;
  left: 329px;
  z-index: 20;
  width: 231px;
  height: 231px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients__item5 {
  position: absolute;
  top: 409px;
  left: 272px;
  z-index: 20;
  width: 127px;
  height: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients__item6 {
  position: absolute;
  top: 26px;
  left: 592px;
  z-index: 20;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients__item7 {
  position: absolute;
  top: 181px;
  left: 593px;
  z-index: 20;
  width: 174px;
  height: 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients__item8 {
  position: absolute;
  top: 382px;
  left: 563px;
  z-index: 20;
  width: 173px;
  height: 173px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients__item9 {
  position: absolute;
  top: 31px;
  left: 760px;
  z-index: 20;
  width: 129px;
  height: 129px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients__item10 {
  position: absolute;
  top: 151px;
  left: 857px;
  z-index: 20;
  width: 116px;
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients__item11 {
  position: absolute;
  top: 299px;
  left: 770px;
  z-index: 20;
  width: 116px;
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients__item12 {
  position: absolute;
  top: 439px;
  left: 794px;
  z-index: 20;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients__item13 {
  position: absolute;
  top: 237px;
  left: 949px;
  z-index: 20;
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients__item14 {
  position: absolute;
  top: 431px;
  left: 884px;
  z-index: 20;
  width: 116px;
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients__descr {
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: var(--white);
  margin-top: 752px;
  width: 520px;
  margin-left: auto;
  margin-right: 0;
}

.request {
  position: relative;
  padding-top: 64px;
  padding-bottom: 118px;
  z-index: 1;
  overflow: hidden;
}
.request__title {
  font-family: "TTFirs";
  font-weight: 500;
  font-size: 80px;
  line-height: 103px;
  color: var(--dark);
  margin-bottom: 110px;
}
.request__circle {
  width: 100%;
  height: 120%;
  background-color: var(--grey);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}
.request__box {
  width: 100%;
  height: 50%;
  background-color: var(--grey);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -4;
}
.request__inp {
  margin-bottom: 23px;
}
.request__inp input {
  font-family: "TTFirs";
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  color: var(--dark);
  border: none;
  width: 53%;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid var(--dark);
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
}
.request__inp input::-webkit-input-placeholder {
  color: var(--dark);
}
.request__inp input::-moz-placeholder {
  color: var(--dark);
}
.request__inp input:-ms-input-placeholder {
  color: var(--dark);
}
.request__inp input::-ms-input-placeholder {
  color: var(--dark);
}
.request__inp input::placeholder {
  color: var(--dark);
}
.request__inp textarea {
  width: 100%;
  font-size: 40px;
  line-height: 52px;
  color: var(--dark);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid var(--dark);
  resize: vertical;
}
.request__inp textarea::-webkit-input-placeholder {
  color: var(--dark);
}
.request__inp textarea::-moz-placeholder {
  color: var(--dark);
}
.request__inp textarea:-ms-input-placeholder {
  color: var(--dark);
}
.request__inp textarea::-ms-input-placeholder {
  color: var(--dark);
}
.request__inp textarea::placeholder {
  color: var(--dark);
}
.request__inp-long input {
  width: 100%;
}
.request__btn {
  display: block;
  margin-left: auto;
  margin-top: 135px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-family: "TTFirs";
  font-weight: 500;
  font-size: 80px;
  line-height: 103px;
  color: var(--dark);
  cursor: pointer;
}

.input__wrapper {
  position: relative;
  text-align: center;
  margin-top: 28px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-button-text {
  font-family: "TTFirs";
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
  color: var(--dark);
  background-color: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.input__file-button-text span {
  font-size: 80px;
  line-height: 103px;
  margin-right: 22px;
}

.input__file-button {
  padding: 0px 5px;
  width: 53%;
  border: 2px solid var(--dark);
  background: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 30px;
  font-family: "TTFirs";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: var(--dark);
}
.custom-checkbox + label a.policy {
  color: var(--dark);
}
.custom-checkbox + label a.policy:hover {
  text-decoration: none;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border: 2px solid var(--dark);
  margin-right: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.custom-checkbox:checked + label::before {
  border-color: var(--dark);
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/svg/arrow4.svg");
  cursor: pointer;
}

.contacts {
  position: relative;
  padding-top: 140px;
  padding-bottom: 10px;
  z-index: 200;
  background-color: var(--dark);
}
.contacts__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 9px;
  position: relative;
}
.contacts__logo-circle {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: var(--acid);
  -webkit-animation: circle 5s infinite;
  animation: circle 5s infinite;
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate(0) scale(0.5);
  -ms-transform: translate(0) scale(0.5);
  transform: translate(0) scale(0.5);
}
.contacts__logo-cube {
  height: 36px;
  width: 36px;
  background-color: var(--acid);
  border-radius: 0%;
  -webkit-animation: cube 3s infinite;
  animation: cube 3s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}
.contacts__logo-cube::before {
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--dark);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.contacts__phone a {
  margin-top: 37px;
  display: block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--grey);
}
.contacts__phone a:hover {
  color: var(--acid);
}
.contacts__mail a {
  display: block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--grey);
}
.contacts__mail a:hover {
  color: var(--acid);
}
.contacts__adr {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--grey);
}
.contacts__adr a {
  display: block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--grey);
}
.contacts__adr a:hover {
  color: var(--acid);
}
.contacts__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 70px;
  margin-top: 34px;
}
.contacts__social a {
  font-family: "TTFirs";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: var(--grey);
  position: relative;
}
.contacts__social a:hover {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.contacts__social a:hover::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid var(--grey);
  border-width: 2px 0 0 2px;
  -webkit-transform: translateY(-50%) rotate(135deg);
  -ms-transform: translateY(-50%) rotate(135deg);
  transform: translateY(-50%) rotate(135deg);
  position: absolute;
  left: -20%;
  top: 50%;
}
.contacts__social a:hover::after {
  content: "";
  width: 0;
  height: 1px;
  border: 1px solid var(--grey);
  background-color: var(--grey);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  left: 0%;
  top: 100%;
  z-index: 200;
}

.contacts__social a:hover::after {
  -webkit-animation: social 2.5s forwards;
  animation: social 2.5s forwards;
}

@-webkit-keyframes circle {
  from {
    -webkit-transform: translateX(0) scale(0.75);
    transform: translateX(0) scale(0.75);
  }
  25% {
    -webkit-transform: translateX(-45px);
    transform: translateX(-45px);
  }
  50% {
    -webkit-transform: translateX(0) scale(0.75);
    transform: translateX(0) scale(0.75);
  }
  75% {
    -webkit-transform: translateX(45px);
    transform: translateX(45px);
  }
  to {
    -webkit-transform: translateX(0) scale(0.75);
    transform: translateX(0) scale(0.75);
  }
}

@keyframes circle {
  from {
    -webkit-transform: translateX(0) scale(0.75);
    transform: translateX(0) scale(0.75);
  }
  25% {
    -webkit-transform: translateX(-45px);
    transform: translateX(-45px);
  }
  50% {
    -webkit-transform: translateX(0) scale(0.75);
    transform: translateX(0) scale(0.75);
  }
  75% {
    -webkit-transform: translateX(45px);
    transform: translateX(45px);
  }
  to {
    -webkit-transform: translateX(0) scale(0.75);
    transform: translateX(0) scale(0.75);
  }
}
@-webkit-keyframes social {
  from {
    width: 1%;
  }
  to {
    width: 100%;
  }
}
@keyframes social {
  from {
    width: 1%;
  }
  to {
    width: 100%;
  }
}
.footer {
  padding-top: 157px;
  padding-bottom: 100px;
  position: relative;
  background-color: var(--dark);
  z-index: 200;
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  -webkit-transition: opacity 5s;
  -o-transition: opacity 5s;
  transition: opacity 5s;
}
.footer__items li {
  position: relative;
  -webkit-transition: opacity 5s;
  -o-transition: opacity 5s;
  transition: opacity 5s;
}
.footer__items li::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 3px solid var(--acid);
  border-width: 3px 0 0 3px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
  left: 50%;
  top: 110%;
  opacity: 0;
}
.footer__items li::before {
  content: "";
  width: 1px;
  height: 40px;
  border: 2px solid var(--acid);
  -webkit-transform: translateX(-50%) rotate(0deg);
  -ms-transform: translateX(-50%) rotate(0deg);
  transform: translateX(-50%) rotate(0deg);
  position: absolute;
  left: 50%;
  top: 83%;
  opacity: 0;
}
.footer__items li.arrow::after {
  opacity: 1;
}
.footer__items li.arrow::before {
  opacity: 1;
}
.footer__items li.arrow a {
  font-weight: 500;
  font-size: 80px;
  line-height: 103px;
  color: var(--acid);
}

a.footer__item {
  text-decoration: none;
  font-family: "TTFirs";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: var(--grey);
  position: relative;
  -webkit-transition: opacity 5s, font-weight 1s, font-size 1s;
  -o-transition: opacity 5s, font-weight 1s, font-size 1s;
  transition: opacity 5s, font-weight 1s, font-size 1s;
}

.arrow::after {
  -webkit-animation: arrow1 1.5s infinite;
  animation: arrow1 1.5s infinite;
}

.arrow::before {
  -webkit-animation: arrow2 1.5s infinite;
  animation: arrow2 1.5s infinite;
}

@-webkit-keyframes arrow1 {
  from {
    top: 110%;
  }
  50% {
    top: 105%;
  }
  to {
    top: 110%;
  }
}

@keyframes arrow1 {
  from {
    top: 110%;
  }
  50% {
    top: 105%;
  }
  to {
    top: 110%;
  }
}
@-webkit-keyframes arrow2 {
  from {
    top: 93%;
  }
  50% {
    top: 88%;
  }
  to {
    top: 93%;
  }
}
@keyframes arrow2 {
  from {
    top: 93%;
  }
  50% {
    top: 88%;
  }
  to {
    top: 93%;
  }
}
.navigation {
  padding-top: 132px;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navigation__link {
  list-style: none;
  position: relative;
}
.navigation__link a {
  white-space: nowrap;
  text-decoration: none;
  font-family: "TTFirs";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: var(--grey);
  position: relative;
  -webkit-transition: opacity 5s, font-weight 1s, font-size 1s;
  -o-transition: opacity 5s, font-weight 1s, font-size 1s;
  transition: opacity 5s, font-weight 1s, font-size 1s;
}
.navigation__link::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 3px solid var(--acid);
  border-width: 3px 0 0 3px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
  left: 50%;
  top: 125%;
  opacity: 0;
}
.navigation__link::before {
  content: "";
  width: 1px;
  height: 40px;
  border: 2px solid var(--acid);
  -webkit-transform: translateX(-50%) rotate(0deg);
  -ms-transform: translateX(-50%) rotate(0deg);
  transform: translateX(-50%) rotate(0deg);
  position: absolute;
  left: 50%;
  top: 93%;
  opacity: 0;
}
.navigation__link.arrow::after {
  opacity: 1;
}
.navigation__link.arrow::before {
  opacity: 1;
}
.navigation__link.arrow a {
  font-size: 40px;
  line-height: 52px;
  color: var(--acid);
}

.navigation__link.arrow::after {
  -webkit-animation: arrow3 1.5s infinite;
  animation: arrow3 1.5s infinite;
}

.navigation__link.arrow::before {
  -webkit-animation: arrow4 1.5s infinite;
  animation: arrow4 1.5s infinite;
}

@-webkit-keyframes arrow3 {
  from {
    top: 140%;
  }
  50% {
    top: 135%;
  }
  to {
    top: 140%;
  }
}

@keyframes arrow3 {
  from {
    top: 140%;
  }
  50% {
    top: 135%;
  }
  to {
    top: 140%;
  }
}
@-webkit-keyframes arrow4 {
  from {
    top: 103%;
  }
  50% {
    top: 98%;
  }
  to {
    top: 103%;
  }
}
@keyframes arrow4 {
  from {
    top: 103%;
  }
  50% {
    top: 98%;
  }
  to {
    top: 103%;
  }
}
.command {
  padding-top: 129px;
}

.conception {
  padding-top: 522px;
}

.title {
  font-family: "TTFirs";
  font-size: 80px;
  line-height: 90px;
  text-transform: uppercase;
  color: var(--grey);
}

.ambition {
  padding-top: 748px;
  padding-bottom: 250px;
  overflow: hidden;
}
.ambition__cards {
  padding-top: 119px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (500px)[3];
  grid-template-columns: repeat(3, 500px);
}
.ambition__cards-descr {
  margin-top: 50px;
  max-width: 342px;
  font-family: "TTFirs";
  font-size: 20px;
  line-height: 25px;
  color: var(--dark);
}
.ambition__sin {
  height: 100vh;
  margin-top: 200px;
}
.ambition__card1 {
  background: var(--acid);
  width: 500px;
  height: 500px;
  padding-top: 87px;
  padding-left: 49px;
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}
.ambition__card2 {
  background: var(--grey);
  width: 500px;
  height: 500px;
  padding-top: 87px;
  padding-left: 49px;
  -webkit-transform: translate(-25%, 50%);
  -ms-transform: translate(-25%, 50%);
  transform: translate(-25%, 50%);
  z-index: 2;
}
.ambition__card3 {
  background: var(--white);
  width: 500px;
  height: 500px;
  padding-top: 87px;
  padding-left: 49px;
  -webkit-transform: translateX(-35%) rotate(-5deg);
  -ms-transform: translateX(-35%) rotate(-5deg);
  transform: translateX(-35%) rotate(-5deg);
  z-index: 1;
}

.valuess {
  padding-top: 99px;
}
.valuess__values {
  margin-top: 126px;
  font-family: "TTFirs";
  font-size: 40px;
  line-height: 25px;
  color: var(--acid);
}

.awards {
  padding-top: 153px;
  position: relative;
}
.awards__img {
  position: absolute;
  top: 50px;
  left: 0;
  -webkit-transform: translate(85%, -25%);
  -ms-transform: translate(85%, -25%);
  transform: translate(85%, -25%);
  z-index: -1;
}
.awards__items {
  padding-top: 53px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 33px 1fr 33px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 33px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "it1 it2 it3" "it4 it5 it3";
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 33px;
}
.awards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.awards__item-img {
  max-width: 100%;
  min-height: 100%;
}
.awards__item-descr {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 25px;
  color: var(--acid);
}

.it1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: it1;
}

.it2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: it2;
}

.it3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  grid-area: it3;
}

.it4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: it4;
}

.it5 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: it5;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  height: 1000px;
}
.text__title {
  position: sticky;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 350px;
  margin-left: 264px;
  margin-right: -60px;
  font-family: "TTFirs";
  font-size: 40px;
  line-height: 90px;
  color: var(--grey);
}

.quest {
  font-family: "TTFirs";
  font-size: 80px;
  line-height: 90px;
  color: var(--acid);
}
.quest__title {
  line-height: 110px;
}

.forms {
  margin-top: 107px;
}
.forms__bg {
  padding: 130px 44px 131px 68px;
  background-color: var(--grey);
}
.forms__btn {
  background-color: var(--dark);
  color: var(--grey);
  margin-top: 20px;
  width: 100%;
  font-family: "TTFirs";
  font-size: 40px;
  line-height: 52px;
  border: none;
}
.forms__inp:nth-child(4) input {
  width: 100%;
  height: 125px;
  position: relative;
  word-break: break-word;
}
.forms__inp:nth-child(4) input::-webkit-input-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  word-break: break-word;
}
.forms__inp:nth-child(4) input::-moz-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  word-break: break-word;
}
.forms__inp:nth-child(4) input:-ms-input-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  word-break: break-word;
}
.forms__inp:nth-child(4) input::-ms-input-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  word-break: break-word;
}
.forms__inp:nth-child(4) input::placeholder {
  position: absolute;
  top: 0;
  left: 0;
  word-break: break-word;
}
.forms__inp input {
  font-family: "TTFirs";
  font-size: 40px;
  line-height: 52px;
  border: none;
  border-bottom: 2px solid #000000;
  width: 583px;
  background-color: var(--grey);
}
.forms__inp input::-webkit-input-placeholder {
  color: var(--dark);
}
.forms__inp input::-moz-placeholder {
  color: var(--dark);
}
.forms__inp input:-ms-input-placeholder {
  color: var(--dark);
}
.forms__inp input::-ms-input-placeholder {
  color: var(--dark);
}
.forms__inp input::placeholder {
  color: var(--dark);
}

.contractors {
  padding-bottom: 100px;
}
.contractors__bg {
  margin-top: 135px;
  background-color: var(--grey);
}
.contractors__items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid var(--dark);
}
.contractors__items:hover {
  background-color: var(--dark);
}
.contractors__items:hover .contractors__item {
  color: var(--grey);
}
.contractors__items:hover .contractors__item a {
  display: block;
}
.contractors__item {
  font-family: "TTFirs";
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: var(--dark);
}
.contractors__item a {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--acid);
  margin-right: 44px;
  display: none;
}
.contractors__item a:hover {
  text-decoration: none;
}

.contacts__items {
  padding-top: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  position: sticky;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.contacts__wrapper {
  margin-top: 347px;
  position: relative;
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  position: relative;
}
.contacts__key {
  font-family: "TTFirs";
  font-size: 20px;
  line-height: 30px;
  color: var(--acid);
}
.contacts__value {
  font-family: "TTFirs";
  font-size: 20px;
  line-height: 30px;
  color: var(--grey);
}
.contacts__value span {
  margin-left: -122px;
}
.contacts__value a {
  font-family: "TTFirs";
  font-size: 20px;
  line-height: 30px;
  color: var(--grey);
}
.contacts__value a:hover {
  text-decoration: none;
  color: var(--grey);
}
.contacts__map {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  position: relative;
  z-index: 5;
}
.contacts__black {
  height: 100vh;
  width: 100%;
  background-color: var(--dark);
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 2;
}

.cont::-webkit-scrollbar {
  width: 0;
}

.titles__titles {
  margin-top: 50vh;
  font-family: "TTFirs";
  font-size: 120px;
  line-height: 155px;
  text-transform: uppercase;
  color: var(--acid);
  white-space: nowrap;
  will-change: transform;
}

.scroll-element {
  position: absolute;
  top: 25%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
}

.services {
  margin-top: 95px;
}
.services__btn {
  position: absolute;
  top: 0;
  left: 4571px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 2px 10px;
  font-family: "TTFirs";
  font-size: 40px;
  line-height: 52px;
  color: #000000;
  background-color: var(--acid);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.services__btn:hover {
  color: var(--acid);
  background-color: var(--dark);
}
.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services__item {
  font-family: "TTFirs";
  font-size: 80px;
  line-height: 103px;
  text-transform: uppercase;
  color: var(--grey);
  position: relative;
}
.services__item-1:after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--grey);
}
.services__item-2:after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--grey);
}
.services__item-3:after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--grey);
}
.services__item-4:after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--grey);
}
.services__item-5:after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--grey);
}
.services__item-6:after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--grey);
}
.services__item:nth-child(1) {
  margin-right: 294px;
  margin-left: 98px;
}
.services__item:nth-child(2) {
  margin-right: 278px;
}
.services__item:nth-child(3) {
  margin-right: 371px;
}
.services__item:nth-child(4) {
  margin-right: 353px;
}
.services__item:nth-child(5) {
  margin-right: 360px;
}
.services__lines {
  position: relative;
}
.services__line-grey {
  width: 4701px;
  height: 4px;
  background-color: var(--grey);
  border: none;
  margin: 0;
  -webkit-transform: translateX(-160px);
  -ms-transform: translateX(-160px);
  transform: translateX(-160px);
}
.services__line-acid {
  margin: 0;
  -webkit-transform: translateX(-160px);
  -ms-transform: translateX(-160px);
  transform: translateX(-160px);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--acid);
  border: none;
}
.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 23px;
}
.services__text {
  font-family: "TTFirs";
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  white-space: nowrap;
}
.services__text-1 {
  display: block;
  overflow: hidden;
  color: var(--acid);
  height: 0px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  padding: 10px 0;
}
.services__text-2 {
  display: block;
  overflow: hidden;
  color: var(--acid);
  height: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  padding: 10px 0;
}
.services__text-3 {
  display: block;
  overflow: hidden;
  color: var(--acid);
  height: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  padding: 10px 0;
}
.services__text-4 {
  display: block;
  overflow: hidden;
  color: var(--acid);
  height: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  padding: 10px 0;
}
.services__text-5 {
  display: block;
  overflow: hidden;
  color: var(--acid);
  height: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  padding: 10px 0;
}
.services__text-6 {
  display: block;
  overflow: hidden;
  color: var(--acid);
  height: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  padding: 10px 0;
}
.services__text-7 {
  display: block;
  overflow: hidden;
  color: var(--acid);
  height: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  padding: 10px 0;
}
.services__text:nth-child(1) {
  margin-right: 303px;
  margin-left: 99px;
}
.services__text:nth-child(2) {
  margin-right: 329px;
}
.services__text:nth-child(3) {
  margin-right: 508px;
}
.services__text:nth-child(4) {
  margin-right: 727px;
}
.services__text:nth-child(5) {
  margin-right: 443px;
}

.filters {
  margin-top: 103px;
}
.filters__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filters__filtr {
  font-family: "TTFirs";
  font-size: 20px;
  line-height: 20px;
  color: var(--grey);
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.filters__filtr.active {
  color: var(--acid);
}
.filters__list {
  list-style-type: none;
  padding: 0;
  padding-left: 30px;
  margin: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
}
.filters__list.active {
  height: 100%;
  width: 100%;
}
.filters__link a {
  font-family: "TTFirs";
  font-size: 20px;
  line-height: 26px;
  color: var(--grey);
  position: relative;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.filters__link a:hover {
  color: var(--acid);
}
.filters__link a:hover::before {
  content: ">";
  color: var(--acid);
  margin-right: 10px;
}

.cas {
  margin-top: 67px;
  position: relative;
  z-index: 205;
}
.cas__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cas__left {
  width: 50%;
}
.cas__right {
  width: 50%;
}
.cas__pink {
  height: 453px;
  background-color: var(--pink);
}
.cas__grey {
  height: 556px;
  background-color: var(--grey);
}
/*# sourceMappingURL=main.css.map */